@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Tiro+Gurmukhi:ital@1&display=swap');


body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Tiro Gurmukhi', serif;
    background: linear-gradient(to right, #CF6B87 ,#011980)
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px, 0;
}

.quote__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.quote__inner {
    width: 900px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 70px;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px;
}

.quote__quote {
    font-family: 'Tiro Gurmukhi', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;    
    margin-bottom: 15px;
}

.quote__author {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.quote__btn {
    font-family: 'Tiro Gurmukhi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: none;
    background: #FFFFFF;
    border-radius: 57px;
    padding: 13px 40px;
    cursor: pointer;
}